.main-content {
    margin-top: 80px;
}

h4 {
    margin-top: 50px;
}

.main-footer {
    margin-right: 20px;
}

.post_time {
    margin-right: 20px;
    margin-bottom: 5px;
}

.main-footer {
    background-color: #fff;
    color: white;
    padding: 15px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/static/blog/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/blog/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/blog/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/static/blog/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/blog/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/blog/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@media screen and (max-width: 767px) {
    .main-content {
        height: auto;
    }
}