{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} &ndash; Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'blog/style.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'blog/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'blog/bootstrap.min.js' %}"></script>
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                </button>
                <a class="navbar-brand" href="/">TAPOK</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <!--  <li><a href="/">Главная</a></li>-->
                    {% if user.is_superuser %}
                    <li>
                        <a href="/admin" title="Админпанель">
                            <span class="fa- fa-lg">
                                    <i class="fa fa-server"></i>
                                </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon glyphicon-log-out
"></span> Выход</a></li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                </ul> -->
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Content -->
    <div class="container main-content">
        <div class="alert alert-success" role="alert">
            <a href="/" class="alert-link">Hello world</a>
        </div>
        <div class="col-sm-3">
            <h4>Навигация</h4>
            <ul class="nav nav-pills nav-stacked">
                <a href="/" class="list-group-item">Главная</a>
                <a href="/forum" class="list-group-item">Форум</a>
                <a href="/contacts" class="list-group-item">Контакты</a>
                <a href="/about" class="list-group-item">Lorem</a> {% load disqus_tags %}
                <h4>Последние комментарии:</h4>
                <blockquote>{% disqus_recent_comments shortname 5 50 0 24 %}</blockquote>
            </ul>
        </div>
        <div class="col-sm-8">
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- Footer -->
    <div class="main-footer">{% include 'blog/footer.html' %}</div>
</body>

</html>