{% extends 'blog/base.html' %} {% block title %} Главная {% endblock %} {% block content %} {% for article in articles %}
<h3><a href="{% url 'article' article.id %}"> {{ article.title }}</a></h3>
<hr>
<div class="well">
    {{ article.get_short_text|safe }}...
</div>
<hr>
<ul class="breadcrumb">
    <em><span class="glyphicon glyphicon-user"></span> Автор: {{ article.user|safe }}</em>
    <br>
    <em><span class="glyphicon glyphicon-calendar"></span> Дата публикации: {{ article.datetime }}</em>
</ul>
<div align="right"><a href="{% url 'article' article.id %}" class="btn btn-primary" role="button">Подробнее..</a></div>
{% endfor %} {% endblock %}